.about-container {
  padding: 50px 0px;
}

.about-container .row {
  display: flex;
}

.about-pic {
  background-color: #babaf9;
  height: 400px;
  border-radius: 10px;
}

.about-desc {
  padding: 50px;
  line-height: 2.5em;
}

.about-desc p {
  margin: 40px 0px;
}

.about-desc a {
  color: #babaf9;
  font-size: 1.6em;
  text-decoration: none;
  border-bottom: 1.5px solid #babaf9;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.about-desc span {
  color: #babaf9;
}

@media (min-width: 768px) {
  .about-pic {
    border-radius: 20px;
    height: 600px;
  }
  .about-container {
    max-width: 80%;
  }
}
