.about-container {
  padding-top: 120px;
}

.about-container .row {
  display: flex;
}

.about-pic {
  background-image: url(../images/about-img/about-1.jpg);
  height: 48.7vh;
  /* border-radius: 2.4vh; */
  background-size: cover;
  background-position: center;
}

.about-desc {
  padding: 6vh;
  line-height: 2.5em;
}
.about-desc h1 {
  text-transform: none;
}

.about-desc p {
  margin: 4.9vh 0vh;
}

.about-desc a {
  color: #babaf9;
  font-size: 1.6em;
  text-decoration: none;
  text-transform: uppercase;
}

.about-desc span {
  color: #babaf9;
}

.link-background {
  margin-top: 3.6vh;
}

a.middle {
  position: relative;
  font-size: 1.4em;
}

a.middle:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -8px;
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

a.line-color-resume:before {
  background-color: #babaf9;
}

a.line-color-resume:hover {
  color: #babaf9;
}

@media (min-width: 768px) {
  .about-pic {
    border-radius: 2.4vh;
    height: 600px;
  }
  .about-container {
    /* max-width: 80%; */
    padding: 3vh 3vh 8vh 3vh;
  }

  .about-desc {
    padding: 6vh 6vh 6vh 9.7vh;
    line-height: 2.5em;
  }
}
