/* main {
  padding: 10px 0;
} */

.item {
  margin: 50px 20px;
}

.slider-image {
  margin: 0 auto;
}

.slider-container {
  overflow: hidden;
}

@media (min-width: 768px) {
  main {
    padding: 20px 0 50px 0;
  }
  .item {
    margin: 50px 20px;
  }
}
