.get-in-touch {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 40px;
  text-align: center;
  line-height: 1em;
  /* border-bottom: solid #d7d7d7 1.3px; */
  font-size: 1.4em;
}

.get-in-touch p {
  margin-top: 30px;
  line-height: 1.2em;
  font-size: 1.2em;
}

.get-in-touch a {
  color: #babaf9;
  text-decoration: none;
}

.get-in-touch .nav-link {
  padding: 5px;
  text-transform: none;
}

.get-in-touch h2 {
  font-size: 2em;
  text-transform: none;
  letter-spacing: 0px;
}

@media (min-width: 768px) {
  .get-in-touch {
    justify-content: flex-start;
    align-items: center;
    padding: 200px 130px;
    text-align: left;
  }

  .get-in-touch p {
    margin-top: 30px;
    font-size: 1.4em;
  }

  .get-in-touch h2 {
    font-size: 3em;
  }
}
