/* Global */

body {
  background-color: #f5f5f5;
}

.flex {
  display: flex;
}

.less-opacity {
  opacity: 0.5;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.relative {
  position: relative;
}

a {
  text-decoration: none;
}

/* Button */
.pdf-btn {
  outline: none;
  border-radius: 5px;
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 40px;
  color: white;
  font-size: 1.4em;
  padding: 15px;
  transition: ease 0.2s;
  letter-spacing: 0.1em;
}

.pdf-btn-jango {
  background-color: rgba(142, 69, 237, 0.2);
  border: 2px solid rgba(142, 69, 237, 0);
}

.pdf-btn-jango:hover {
  background-color: rgba(142, 69, 237, 0.4);
  border: 2px solid rgba(142, 69, 237, 1);
  /* color: rgb(177, 119, 252);‰ */
}
.pdf-btn-cibo {
  background-color: rgba(237, 136, 136, 0.6);
  border: 2px solid rgba(255, 138, 138, 0);
}

.pdf-btn-cibo:hover {
  background-color: rgba(237, 136, 136, 0.8);
  border: 2px solid rgb(250, 119, 119);
  /* color: rgba(255, 138, 138, 1); */
}

.pdf-btn-oceanfins {
  background-color: rgba(79, 138, 196, 0.2);
  border: 2px solid rgba(79, 138, 196, 0);
}

.pdf-btn-oceanfins:hover {
  background-color: rgba(79, 138, 196, 0.4);
  border: 2px solid rgba(79, 138, 196, 1);
  /* color: rgba(79, 138, 196, 1); */
}

.pdf-btn-mariscos {
  background-color: rgba(19, 140, 138, 0.6);
  border: 2px solid rgba(38, 220, 217, 0);
}

.pdf-btn-mariscos:hover {
  background-color: rgba(19, 140, 138, 0.8);
  border: 2px solid rgba(38, 220, 217, 1);
  /* color: rgba(79, 138, 196, 1); */
}

.pdf-btn-timeoff {
  background-color: rgba(71, 84, 40, 0.4);
  border: 2px solid rgba(132, 155, 77, 0);
}

.pdf-btn-timeoff:hover {
  background-color: rgba(71, 84, 40, 0.6);
  border: 2px solid rgba(132, 155, 77, 1);
  /* color: rgba(79, 138, 196, 1); */
}

/* Colors */

.purple-text {
  color: rgba(186, 186, 249, 1);
}

.white-text {
  color: #fff;
}

/* Typography */

@font-face {
  font-family: 'Silka';
  src: local('Silka') url('silka-regular-webfont.woff') format('woff');
}

body {
  font-family: 'Silka';
  /* letter-spacing: 0.2em; */
  font-size: 62.5%;
  color: #707070;
}

h1 {
  font-size: 3em;
  text-transform: uppercase;
}

h2 {
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h3 {
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

h4 {
  font-size: 1.4em;
  letter-spacing: 0.15em;
}

h5 {
  font-size: 1.4em;
  letter-spacing: 00.15em;
}

p {
  font-size: 1.4em;
  /* letter-spacing: 0.1em; */
  line-height: 1.5em;
}

.with-divider {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.divider {
  background-image: url('../images/divider-gray.svg');
  background-size: 100% 60px;
  bottom: 0;
  height: 60px;
  z-index: 1;
  transform: rotateY(180deg) rotateX(0);
}

.divider-revert {
  background-image: url('../images/divider-gray.svg');
  background-size: 100% 60px;
  bottom: 0;
  height: 60px;
  z-index: 1;
  transform: rotateY(0) rotateX(180deg);
}

.my-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.parallax {
  /* Create the parallax scrolling effect */
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax.work-intro {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  h1 {
    font-size: 5em;
    text-transform: uppercase;
  }

  h2 {
    font-size: 5em;
    text-transform: uppercase;
  }
  p {
    /* font-size: 1.6em; */
    letter-spacing: 0.1em;
  }
  .parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
  }
}
