.view-all-btn a {
  color: #707070;
  text-decoration: none;
}

.view-all-btn img {
  height: 10px;
}

.view-all-btn {
  justify-content: flex-end;
  display: flex;
  font-size: 1.4em;
}

.more-projects-container {
  background-color: #f5f5f5;
  border-bottom: solid #d7d7d7 1.3px;
  padding-bottom: 60px;
}

.more-projects {
  padding: 60px 0px;
  display: flex;
  justify-content: space-between;
}

.more-projects-preview .col-sm-12 {
  height: 350px;
  /* margin-bottom: 60px; */
}

.more-projects-bg {
  background-size: cover;
  background-position: right;
  position: relative;
}

.more-projects-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  transition: 0.5s ease;
}

.more-projects-title {
  color: white;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  padding: 0px 35px;
}

.more-projects-title h4 {
  font-size: 3em;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .center {
    display: block;
  }

  .more-projects-overlay {
    opacity: 0;
  }
  .more-projects-bg:hover .more-projects-overlay {
    opacity: 0.95;
  }
}
