.work-header {
  background-size: cover;
  height: 80vh;
  background-position: right;
  padding-top: 120px;
}

.work-header .work-preview-overlay {
  height: 80vh;
  border-radius: 0px;
}

.work-header .work-preview-text-wrapper {
  padding: 100px 30px;
  position: relative;
}

.work-header .work-preview-text {
  padding: 0px;
}

.work-header img {
  height: 10px;
  transform: rotate(180deg);
}

.back-btn {
  display: flex;
  align-items: center;
  padding-bottom: 80px;
}

.back-btn a {
  color: white;
  text-decoration: none;
  font-size: 1.6em;
}

.goal {
  padding-top: 60px;
}

.goal p {
  padding-top: 10px;
  max-width: 50vh;
  line-height: 1.5em;
}

.work-nav {
  visibility: hidden;
  height: 0px;
  -webkit-box-shadow: 0px 5px 17px -6px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 5px 17px -6px rgba(0, 0, 0, 0.53);
}

.work-nav .row .col {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease 0.15s;
}

.work-nav a {
  color: white;
}

.second-nav {
  height: 100%;
  width: 100%;
}

/* Overlay */
.overlay-jango {
  /* background: rgb(69, 0, 104); */
  /* background: linear-gradient(0deg, rgba(69, 0, 104, 1) 0%, rgba(35, 0, 52, 0.05) 100%); */
  /* background: rgba(0, 0, 0, 0.2); */
}

.overlay-oceanfins {
  /* background: rgb(59, 112, 165); */
  /* background: linear-gradient(0deg, rgba(59, 112, 165, 1) 0%, rgba(35, 0, 52, 0.05) 100%); */
  /* background: rgba(0, 0, 0, 0.2); */
}

.overlay-cibo {
  /* background: rgb(208, 225, 204); */
  /* background: linear-gradient(0deg, rgba(208, 225, 204, 1) 0%, rgba(13, 68, 0, 0.3) 100%); */
  /* background: rgba(0, 0, 0, 0.2); */
}

.overlay-deepend {
  /* background: rgb(0, 53, 75); */
  /* background: linear-gradient(0deg, rgba(0, 53, 75, 1) 0%, rgba(0, 53, 75, 0.05) 100%); */
  /* background: rgba(0, 0, 0, 0.2); */
}

.overlay-mariscos {
  /* background: rgb(68, 158, 156); */
  /* background: linear-gradient(0deg, rgba(68, 158, 156, 1) 0%, rgba(0, 43, 42, 0.05) 100%); */
  /* background: rgba(0, 0, 0, 0.2); */
}

.overlay-yummy {
  /* background: rgb(244, 112, 169); */
  /* background: linear-gradient(0deg, rgba(244, 112, 169, 1) 0%, rgba(68, 0, 29, 0.05) 100%); */
  /* background: rgba(0, 0, 0, 0.2); */
}

.overlay-valoir {
  /* background: rgb(235, 138, 64); */
  /* background: linear-gradient(0deg, rgb(235, 138, 64) 0%, rgba(41, 17, 0, 0.05) 100%); */
  /* background: rgba(0, 0, 0, 0.2); */
}

.nav-color-jango {
  background-color: #32044a;
}

.nav-color-jango .row .col:hover {
  border-bottom: 5px solid rgb(142, 69, 237);
  padding-top: 10px;
  color: rgb(142, 69, 237);
}

.nav-color-oceanfins {
  background-color: #235990;
}

.nav-color-oceanfins .row .col:hover {
  border-bottom: 5px solid #5c9dde;
  padding-top: 10px;
  color: #5c9dde;
}

.nav-color-valoir {
  background-color: #de6b13;
}

.nav-color-jango .row .col:hover {
  border-bottom: 5px solid rgb(142, 69, 237);
  padding-top: 10px;
  color: rgb(142, 69, 237);
}

.nav-color-deepend {
  background-color: #002a3c;
}

.nav-color-deepend .row .col:hover {
  border-bottom: 5px solid #2886ae;
  padding-top: 10px;
  color: #2886ae;
}

.nav-color-mariscos {
  background-color: #138c8a;
}

.nav-color-mariscos .row .col:hover {
  border-bottom: 5px solid #26dcd9;
  padding-top: 10px;
  color: #26dcd9;
}

.nav-color-yummy {
  background-color: #de4c8b;
}

.nav-color-cibo {
  background-color: #f1a8a8;
}

.nav-color-cibo .row .col:hover {
  border-bottom: 5px solid #f97676;
  padding-top: 10px;
  color: #f97676;
}

.nav-color-timeoff {
  background-color: #505f2e;
}

.nav-color-timeoff .row .col:hover {
  border-bottom: 5px solid #849b4d;
  padding-top: 10px;
  color: #849b4d;
}

@media (min-width: 768px) {
  .work-header {
    height: 92vh;
    padding-top: 0;
  }

  .work-header .work-preview-overlay {
    height: 100vh;
  }

  .work-header .work-preview-text-wrapper {
    height: calc(100vh - 25vh);
    display: flex;
    align-items: center;
    padding: 0px 8vh;
  }

  .work-header h2 {
    font-size: 6em;
  }

  .goal h5 {
    font-size: 3em;
  }

  .work-nav {
    visibility: visible;
    color: white;
    height: 8vh;
  }

  .work-nav .row {
    height: 8vh;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
