.animated-word {
  overflow: hidden;
  position: relative;
  height: 100px;
  padding-top: 10px;
  margin-top: -10px;
  animation: showup2 7s;
  /* animation-delay: 30s; */
}

.animated-word li {
  padding: 0;
  height: 45px;
  margin-bottom: 45px;
  display: block;
}

.flip4 {
  animation: flip3 10s cubic-bezier(0.23, 1, 0.5, 1.2) infinite;
}

@keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

.home-intro div {
  display: block;
  /* overflow: hidden;
  white-space: nowrap; */
}

.home-intro h1 {
  text-transform: none;
  letter-spacing: 0em;
}

.home-intro .statement {
  animation: showup 15s;
}

.statement {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .home-intro .poi { */
/* width: 0px; */
/* animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; */
/* } */

/* .home-intro div:last-of-type h1 {
  margin-left: -650px;
  animation: slidein 7s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
} */

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showup2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* @keyframes slidein {
  0% {
    margin-left: -600px;
  }
  20% {
    margin-left: -600px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 650px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    width: 650px;
  }
} */

.home-intro {
  height: calc(100vh - 10vh);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-ca3_icon]::before {
  font-weight: normal;
  content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
  background-image: url(../images/arrow-slider-down.svg);
  color: #babaf9;
  background-size: contain;
  background-repeat: no-repeat;
}

.ca3-scroll-down-link {
  cursor: pointer;
  height: 30px;
  width: 80px;
  margin: 0px 0 0 -25px;
  line-height: 60px;
  position: absolute;
  left: 50%;
  bottom: 20vh;
  color: #fff;
  text-align: center;
  font-size: 70px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
  -moz-animation: ca3_fade_move_down 2s ease-in-out infinite;
  animation: ca3_fade_move_down 2s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0% {
    -webkit-transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
}
@-moz-keyframes ca3_fade_move_down {
  0% {
    -moz-transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 20px);
    opacity: 0;
  }
}
@keyframes ca3_fade_move_down {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px);
    opacity: 0;
  }
}

.home-intro {
  /* padding: 300px 20px 50px 20px; */
  /* display: flex; */
  align-items: center;
}

.home-intro h1 {
  padding: 0px 50px;
  line-height: 1.6em;
  font-size: 2.8em;
}

.animated-word {
  color: #babaf9;
}

.see-works {
  border-right: 1px solid #707070;
  display: flex;
  justify-content: flex-end;
  opacity: 0.5;
  height: 250px;
  font-size: 1.2em;
}

.work-preview-wrapper {
  padding-bottom: 50px;
  padding-top: 5 px;
}

.work-preview {
  background-position: right center;
  background-size: cover;
  height: 65vh;
  margin: 10px;
  border-radius: 10px;
  position: relative;
}

.work-preview a {
  text-decoration: none;
  color: #fff;
}

.work-bg-jango {
  background-image: url(../images/header-covers/jango-cover-sm-2.png);
}
.work-bg-oceanfins {
  background-image: url(../images/header-covers/ocean-fins-cover-sm-2.png);
}
.work-bg-cibo {
  background-image: url(../images/header-covers/cibo-cover-sm-2.png);
}
/* .work-bg-yummy {
  background-image: url(../images/header-covers/yummy-cover-sm.jpg);
} */
.work-bg-deepend {
  background-image: url(../images/header-covers/deep-end-cover-sm-2.png);
}
.work-bg-mariscos {
  background-image: url(../images/header-covers/mariscos-cover-sm-2.png);
}
.work-bg-valoir {
  background-image: url(../images/header-covers/valoir-cover-sm-2.png);
}

.work-bg-timeoff {
  background-image: url(../images/header-covers/time-off-cover-sm2.png);
}

.work-preview-text {
  padding: 50px 50px;
  color: white;
  z-index: 2;
  position: absolute;
}

.work-preview-text h2 {
  padding: 40px 0px;
}

.view-work-btn {
  visibility: hidden;
}

.view-work-btn a {
  color: white;
  text-decoration: none;
  text-transform: none;
  font-size: 1.4em;
  letter-spacing: 0.1em;
}

.view-work-arrow {
  height: 10px;
  margin-left: 10px;
  transition: ease 0.5s;
}

.view-work-btn:hover .view-work-arrow {
  margin-left: 25px;
  transform: scale(1.2);
}

.work-preview-overlay {
  background: rgba(0, 0, 0, 0.2);
  height: 65vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .home-intro {
    padding: 0px 0px 275px 0px;
    /* display: block; */
  }
  .work-preview {
    display: flex;
    align-items: center;
    height: 80vh;
    margin: 4vh;
    border-radius: 20px;
  }
  .work-preview-overlay {
    height: 80vh;
    border-radius: 20px;
  }
  .work-preview-text {
    padding: 100px 100px;
  }
  .work-preview-text h2 {
    padding: 40px 0px;
    max-width: 60%;
  }
  .work-bg-jango {
    background-image: url(../images/header-covers/jango-cover.jpg);
  }
  .work-bg-oceanfins {
    background-image: url(../images/header-covers/ocean-fins-cover-2.jpg);
    background-position: center;
  }
  .work-bg-cibo {
    background-image: url(../images/header-covers/cibo-cover.jpg);
  }
  .work-bg-yummy {
    background-image: url(../images/header-covers/yummy-cover2.jpg);
  }
  .work-bg-deepend {
    background-image: url(../images/header-covers/deep-end-cover.jpg);
  }
  .work-bg-mariscos {
    background-image: url(../images/header-covers/mariscos-cover.jpg);
    background-position: center;
  }
  .work-bg-valoir {
    background-image: url(../images/header-covers/valoir-cover.jpg);
  }
  .work-bg-timeoff {
    background-image: url(../images/header-covers/time-off-cover.png);
  }

  .view-work-btn {
    font-size: 1.6em;
    visibility: visible;
  }

  .see-works {
    height: 300px;
  }

  .home-intro h1 {
    font-size: 5em;
  }
}
