/* Works Text Color */
.color-jango {
  color: #32044a;
}

.color-oceanfins {
  color: #235990;
}

.color-valoir {
  color: #de6b13;
}

.color-deepend {
  color: #002a3c;
}

.color-mariscos {
  color: #138c8a;
}

.color-yummy {
  color: #de4c8b;
}
.color-cibo {
  color: #f1a8a8;
}

.color-timeoff {
  color: #505f2e;
}
/* Gradient BG Overlay */

.gradient-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.deepend-gradient {
  background: rgb(0, 42, 60);
  background: linear-gradient(0deg, rgba(0, 42, 60, 0) 0%, rgba(0, 42, 60, 1) 100%);
}

.jango-gradient {
  background: rgb(50, 4, 74);
  background: linear-gradient(180deg, rgba(50, 4, 74, 1) 0%, rgba(50, 4, 74, 0) 100%);
}

.oceanfins-gradient {
  background: rgb(35, 89, 144);
  background: linear-gradient(180deg, rgba(35, 89, 144, 1) 0%, rgba(35, 89, 144, 0) 100%);
}

.cibo-gradient {
  background: rgb(241, 168, 168);
  background: linear-gradient(180deg, rgba(241, 168, 168, 1) 0%, rgba(241, 168, 168, 0) 100%);
}

.timeoff-gradient {
  background: rgb(80, 95, 46);
  background: linear-gradient(180deg, rgba(80, 95, 46, 1) 0%, rgba(80, 95, 46, 0) 100%);
}
.mariscos-gradient {
  background: rgb(19, 140, 138);
  background: linear-gradient(180deg, rgba(19, 140, 138, 1) 0%, rgba(19, 140, 138, 0) 100%);
}
.valoir-gradient {
  background: rgb(222, 107, 19);
  background: linear-gradient(180deg, rgba(222, 107, 19, 1) 0%, rgba(222, 107, 19, 0) 100%);
}

/* Intro BG */
.deepend-intro {
  background-image: url(../images/deepend-img/dive.jpg);
}
.jango-intro {
  background-image: url(../images/jango-img/jango-intro.jpg);
}
.oceanfins-intro {
  background-image: url(../images/oceanfins-img/oceanfins-intro3.jpg);
  background-position: center;
}
.timeoff-intro {
  background-image: url(../images/timeoff-img/timeoff-intro-2.jpg);
}

.cibo-intro {
  background-image: url(../images/cibo-img/cibo-intro.jpg);
  background-position: top;
}
.mariscos-intro {
  background-image: url(../images/mariscos-img/mariscos-intro.jpg);
  background-position: top;
}
.valoir-intro {
  background-image: url(../images/valoir-img/valoir-intro.jpg);
  background-position: top;
}

/* Works Typography */

.work-section h2 {
  font-size: 3em;
  padding-bottom: 50px;
}

.work-section.no-h2-bottom h2 {
  padding-bottom: 0px;
}

.work-section h3 {
  padding-bottom: 20px;
}

/* View Button */
/* .hover-underline-animation {
  display: inline-block;
  position: relative;
  padding-top: 30px;
  padding-bottom: 5px;
  font-size: 1.4em;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */

.visible-pdf {
  visibility: visible;
}
.embed-pdf {
  visibility: hidden;
}
.pdf-ocean-fins {
  height: 0vh;
  width: 0vh;
}

.pdf-jango {
  height: 0vh;
  width: 0vh;
}

.link-background {
  margin-top: 30px;
}

a.middle {
  position: relative;
  font-size: 1.4em;
}

a.middle:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -8px;
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

a.line-color-cibo:before {
  background-color: #f1a8a8;
}

a.line-color-cibo:hover {
  color: #f1a8a8;
}

a.line-color-jango:before {
  background-color: #32044a;
}

a.line-color-jango:hover {
  color: #32044a;
}

a.line-color-timeoff:before {
  background-color: #505f2e;
}

a.line-color-timeoff:hover {
  color: #505f2e;
}

a.line-color-deepend:before {
  background-color: #002a3c;
}

a.line-color-deepend:hover {
  color: #002a3c;
}

a.line-color-oceanfins:before {
  background-color: #235990;
}

a.line-color-oceanfins:hover {
  color: #235990;
}

/* .line-color-deepend:after {
  background-color: #002a3c;
}

.line-color-deepend:hover {
  color: #002a3c;
}

.line-color-jango:after {
  background-color: #32044a;
}

.line-color-jango:hover {
  color: #32044a; */

/* Works Section  */

.work-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.no-padding-bottom {
  padding-bottom: 0px;
}

.white-section {
  background-color: white;
}

.work-intro {
  height: 100vh;
  justify-content: start;
  align-items: flex-start;
  background-size: cover;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-text-wrapper {
  max-width: 1000px;
  padding: 0px 30px 80px 30px;
}

.work-section.reflection {
  padding-bottom: 0px;
}
/* Hover Over Image */
.front-img {
  position: relative;
  display: inline-block;
}
.front-img .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.front-img:hover .img-top {
  display: inline;
}

/* Deep-End Specific Elements */

.deepend-logo-gallery .item img {
  height: 300px;
}

.jango-gallery .item img {
}

.max-height-300 {
  max-height: 300px;
}
.max-height-400 {
  max-height: 400px;
}

.max-height-500 {
  max-height: 500px;
}

.max-height-1000 {
  max-height: 1000px;
}

.max-height-600 {
  max-height: 600px;
}

.max-height-700 {
  max-height: 700px;
}
.max-height-800 {
  max-height: 800px;
}
.max-height-900 {
  max-height: 900px;
}

.side-padding {
  padding: 0px 30px;
}
.before-after-img h4 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

/* Jango Specific Elements */

.solid-color-container h3 {
  font-size: 2em;
  text-transform: none;
  line-height: 1.5em;
  padding-bottom: 0px;
}

.solid-color-heading {
  padding-left: 20px;
}

.solid-color-blurb {
  padding-top: 40px;
  padding-left: 20px;
}

.jango-solid-color-bg {
  background-color: #32044a;
}

.jango-solid-color-heading {
  border-left: rgb(142, 69, 237) 5px solid;
}

.jango-solid-color-blurb {
  border-left: #32044a 5px solid;
}

.main-heading-blurb {
  margin-bottom: 80px;
}

@media (min-width: 768px) {
  .visible-pdf {
    visibility: hidden;
  }
  .embed-pdf {
    visibility: visible;
  }

  .pdf-ocean-fins {
    height: 100vh;
    width: 100vh;
  }

  .pdf-jango {
    height: 100vh;
    width: 100vh;
  }
  .work-intro {
    height: 100vh;
  }

  .work-section {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .side-padding {
    padding: 0px 50px;
  }

  /* .work-section h2 {
    padding-bottom: 80px;
  } */

  .hover-underline-animation:after {
    transform: scaleX(1);
  }
  .before-after-img h4 {
    padding-top: 0px;
  }
  /* .work-section.no-h2-bottom h2 {
    padding-bottom: 80px;
  } */
}

/* Ocean Fins Specific Elements */
.oceanfins-solid-color-bg {
  background-color: #235990;
}

.oceanfins-solid-color-heading {
  border-left: #4f8ac4 5px solid;
}

.oceanfins-solid-color-blurb {
  border-left: #235990 5px solid;
}

/* Cibo Specific Elements */
.cibo-solid-color-bg {
  background-color: #f1a8a8;
}

.cibo-solid-color-heading {
  border-left: #ff8a8a 5px solid;
}

.cibo-solid-color-blurb {
  border-left: #f1a8a8 5px solid;
}

/* Time Off Specific Elements */
.timeoff-solid-color-bg {
  background-color: #505f2e;
}

.timeoff-solid-color-heading {
  border-left: #849b4d 5px solid;
}

.timeoff-solid-color-blurb {
  border-left: #505f2e 5px solid;
}

/* Mariscos El Guerro Elements */

.mariscos-solid-color-bg {
  background-color: #138c8a;
}

.mariscos-solid-color-heading {
  border-left: #26dcd9 5px solid;
}

.mariscos-solid-color-blurb {
  border-left: #138c8a 5px solid;
}

/* Valoir Specific Elements */
.valoir-solid-color-bg {
  background-color: #de6b13;
}

.valoir-solid-color-heading {
  border-left: #f59a54 5px solid;
}

.valoir-solid-color-blurb {
  border-left: #de6b13 5px solid;
}

@media (min-width: 992px) {
  .hover-underline-animation:after {
    transform: scaleX(0);
  }
  .work-section {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .challenge-container h3 {
    font-size: 2.3em;
  }
}
