/* Works Text Color */
.color-jango {
  color: #32044a;
}

.color-oceanfins {
  color: #235990;
}

.color-valoir {
  color: #de6b13;
}

.color-deepend {
  color: #002a3c;
}

.color-mariscos {
  color: #138c8a;
}

.color-yummy {
  color: #de4c8b;
}
.color-cibo {
  color: rgb(143, 198, 131);
}

/* Gradient BG Overlay */

.gradient-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.deepend-gradient {
  background: rgb(0, 42, 60);
  background: linear-gradient(0deg, rgba(0, 42, 60, 0) 0%, rgba(0, 42, 60, 1) 100%);
}

.jango-gradient {
  background: rgb(50, 4, 74);
  background: linear-gradient(180deg, rgba(50, 4, 74, 1) 0%, rgba(50, 4, 74, 0) 100%);
}

.oceanfins-gradient {
  background: rgb(35, 89, 144);
  background: linear-gradient(180deg, rgba(35, 89, 144, 1) 0%, rgba(35, 89, 144, 0) 100%);
}

/* Intro BG */
.deepend-intro {
  background-image: url(../images/deepend-img/dive.jpg);
}
.jango-intro {
  background-image: url(../images/jango-img/jango-intro.png);
}
.oceanfins-intro {
  background-image: url(../images/oceanfins-img/oceanfins-intro3.jpg);
  background-position: center;
}

/* Works Typography */

.work-section h2 {
  font-size: 3em;
  padding-bottom: 50px;
}

.work-section.no-h2-bottom h2 {
  padding-bottom: 0px;
}

.work-section h3 {
  padding-bottom: 20px;
}

/* View Button */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  padding-top: 30px;
  padding-bottom: 5px;
  font-size: 1.4em;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.line-color-deepend:after {
  background-color: #002a3c;
}

.line-color-deepend:hover {
  color: #002a3c;
}

/* Works Section  */

.work-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.no-padding-bottom {
  padding-bottom: 0px;
}

.white-section {
  background-color: white;
}

.work-intro {
  height: 80vh;
  justify-content: start;
  align-items: flex-start;
  background-size: cover;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-text-wrapper {
  max-width: 1000px;
  padding: 0px 30px 60px 30px;
}
/* Hover Over Image */
.front-img {
  position: relative;
  display: inline-block;
}
.front-img .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.front-img:hover .img-top {
  display: inline;
}

/* Deep-End Specific Elements */

.deepend-logo-gallery .item img {
  height: 300px;
}

.jango-gallery .item img {
}

.max-height-300 {
  max-height: 300px;
}

.max-height-500 {
  max-height: 500px;
}

.max-height-1000 {
  max-height: 1000px;
}

.side-padding {
  padding: 0px 30px;
}
.before-after-img h4 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

/* Jango Specific Elements */
.work-section.solid-color-container {
  padding-bottom: 20px;
  padding-top: 150px;
}

.solid-color-container h3 {
  font-size: 2em;
  text-transform: none;
  line-height: 1.5em;
  padding-bottom: 0px;
}

.solid-color-heading {
  padding-left: 20px;
}

.solid-color-blurb {
  padding-top: 40px;
  padding-left: 20px;
}

.jango-solid-color-bg {
  background-color: #32044a;
}

.jango-solid-color-heading {
  border-left: rgb(142, 69, 237) 5px solid;
}

.jango-solid-color-blurb {
  border-left: #32044a 5px solid;
}

.main-heading-blurb {
  margin-bottom: 80px;
}

@media (min-width: 768px) {
  .work-intro {
    height: 100vh;
  }

  .work-section {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .section-text-wrapper {
    max-width: 1000px;
    padding: 0px 50px 130px 50px;
  }

  .side-padding {
    padding: 0px 50px;
  }

  .work-section h2 {
    padding-bottom: 80px;
  }

  .hover-underline-animation:after {
    transform: scaleX(1);
  }
  .before-after-img h4 {
    padding-top: 0px;
  }
  .work-section.no-h2-bottom h2 {
    padding-bottom: 80px;
  }
}

/* Ocean Fins Specific Elements */
.oceanfins-solid-color-bg {
  background-color: #235990;
}

.oceanfins-solid-color-heading {
  border-left: #4f8ac4 5px solid;
}

.oceanfins-solid-color-blurb {
  border-left: #235990 5px solid;
}

@media (min-width: 992px) {
  .hover-underline-animation:after {
    transform: scaleX(0);
  }
  .work-section {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .challenge-container h3 {
    font-size: 2.3em;
  }
}
